[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".emacs.d/site-lisp/migemo"]
	path = .emacs.d/site-lisp/migemo
	url = https://github.com/emacs-jp/migemo.git
